/* #region  Fonts */
@font-face {
    font-family: Pacifico;
    src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}

/* #endregion */

body {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pacifico";
}

.fancyFont {
    font-family: "Pacifico";
}
